---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Games from '../components/Games.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Golden Fox - Indie Game Studio">
  <Nav />
  <main>
    <Hero />
    <About />
    <Games />
    <Contact />
  </main>
  <Footer />
</Layout>
